<div class="error-page">
  <div class="error-page-wrapper">
    <div class="error-image-container">
      <%= image_tag '500', class:"error-image-png"%>
    </div>
    <span class="error-message">We're sorry, but something went wrong.</span>
    <a href="<%= root_path %>" class="error-button">
      Back To Home Page
    </a>
  </div>
</div>