<div class="error-page">
  <div class="error-page-wrapper">
    <div class="error-image-container">
      <%= image_tag 'svgs/404.svg', class:"error-image"%>
    </div>
    <span class="error-message">The page you were looking for doesn't exist.</span>
    <a href="<%= root_path %>" class="error-button">
      Back To Home Page
    </a>
  </div>
</div>