<div class="error-page">
  <div class="error-page-wrapper">
    <div class="error-image-container">
      <%= image_tag '500', class:"error-image-png"%>
    </div>
    <span class="error-message">The change you wanted was rejected.</span>
    <a href="<%= root_path %>" class="error-button">
      Back To Home Page
    </a>
  </div>
</div>